p{
  border:3px solid;
  padding: 10px;
  margin: 2em 1em 2em 3em;
}
/*parrafo de arriba*/
.padre_arriba{
  background-color:yellow ;
  width:200px;
  right:200px;

}

/*parrafo del medio*/
.padre_medio{
  background-color: red;
  width:200px;
  right:200px;
  margin-left: 200px;
  margin-top: -2em;
}

/*parrafo de abajo*/
.padre_abajo{
background-color: blue;
width:200px;
right:200;
margin-top: -30px;
margin-left: 400px;

}
